.CarbonaraTable-DataGridContainer {
	height: 100%;
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.CarbonaraTable-DataGridContainer table {
	border-collapse: collapse;
}

.CarbonaraTable-DataGridHeaderWrapper {
	position: relative;
}

.CarbonaraTable-DataGridBodyWrapper {
	overflow: auto;
}
