.CarbonaraTable-TableContainer {
  height: 100%;
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.CarbonaraTable-TableContainer table {
	border-collapse: collapse;
}

.CarbonaraTable-TableHeaderWrapper {
	position: relative;
}

.CarbonaraTable-TableBodyWrapper {
  overflow: auto;
}
