.CarbonaraTable-PaginationPages {
  display: flex;
  align-items: center;
  justify-content: center;
}

.CarbonaraTable-PaginationPages > button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  outline: none;
  cursor: pointer;

  color: var(--carbonara-table--color-light-text);
  font-size: 14px;
  
  border: none;
  border: 1px solid var(--carbonara-table--color-light-gray-2);
  border-radius: 7px;
  
  width: fit-content;
  height: 29px;
  
  margin: 0px 5px;
  background: white;
}

.CarbonaraTable-PaginationPages > .CarbonaraTable-PaginationPage--Selected {
  color: var(--carbonara-table--color-primary);
  border: 2px solid var(--carbonara-table--color-primary);
  font-weight: 600;
}

.CarbonaraTable-PaginationPages > .CarbonaraTable-PaginationPageSeparator {
  border: none;
  cursor: unset;
}
