.CarbonaraTable-CardItem {
  padding: 15px;
}

.CarbonaraTable-CardItem-Name {
  text-transform: uppercase;
  color: var(--carbonara-table--color-light-text);
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 10px;
}

.CarbonaraTable-CardItem-Value {
  color: var(--carbonara-table--color-text);
  word-break: break-all;
}