.CarbonaraTable-TBodyRow--Clickable {
  cursor: pointer;
  -webkit-transition: .25s background ease-in-out;
  transition: .25s background ease-in-out;
}

.CarbonaraTable-TBodyRow--Clickable:hover {
  background: var(--carbonara-table--color-light-gray-3);
}
