.CarbonaraTable-Pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.CarbonaraTable-Pagination-IconButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 10px;
}

.CarbonaraTable-UpperPagination {
  margin-bottom: 35px;
}

.CarbonaraTable-BottomPagination {
  margin-top: 35px;
  margin-bottom: 20px;
}

.CarbonaraTable-Pagination-IconButtonWrapper > .CarbonaraTable-IconButton {
  height: 29px;
  background: var(--carbonara--color-light-gray);
  border-radius: 7px;
  
  -webkit-transition: .35s background;
  transition: .35s background;
}

.CarbonaraTable-Pagination-IconButtonWrapper > .CarbonaraTable-IconButton:hover {
  background: var(--carbonara--color-medium-light-gray);
}

.CarbonaraTable-Pagination > .CarbonaraTable-IconButton {
  margin: 0 15px;
}
